<?xml version="1.0"?>
<appSettings>
  <add key="sheehy.club.Https" value="false" />
  <!-- Values supported are:
      bootstrap (default)
      metro
      highcontrast
  -->
  <add key="sheehy.club.Theme" value="highcontrast" />
  <!-- Values for LetterTemplateType can be:
      Html (default)
      Word
  -->
  <add key="mallon.dfw.LetterTemplateType" value="Html" />
  <add key="mallon.artifactAssemblies" value="CoreSpatial;Core;Documents;Club" />
  <add key="mallon.storeageDirectory" value="C:\development\FootballClub\FrRocks\AttachedDocs\" />
</appSettings>
