<?xml version="1.0"?>
<connectionStrings>
  <add name="mallon.Default" connectionString="Data Source=.\SQL2012;Initial Catalog=ClubFrRocks;User Id=sa;Password=Mallon2012;" providerName="System.Data.SqlClient" />
  <add name="elmah" connectionString="Data Source=.\SQL2012;Initial Catalog=ClubFrRocks;User Id=sa;Password=Mallon2012;" providerName="System.Data.SqlClient" />

  <!--<add name="mallon.Default" connectionString="Data Source=.\SQL2012;Initial Catalog=ClubFrRocks;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  <add name="elmah" connectionString="Data Source=.\SQL2012;Initial Catalog=ClubFrRocks;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->

</connectionStrings>
