<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- Require Cookies to require HTTPS
    http://stackoverflow.com/questions/9823010/how-to-force-https-using-a-web-config-file
    -->
    <httpCookies xdt:Transform="Replace" httpOnlyCookies="true" requireSSL="true" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Index"  timeout="240" slidingExpiration="true" requireSSL="true" xdt:Transform="Replace" />
    </authentication>

    <!--<customErrors xdt:Transform="Replace" mode="Off"/>-->
    <machineKey xdt:Transform="Replace" decryption="AES" decryptionKey="0E20DD57A76A9A1FAE897AE4D1AC1014E7FE69EE651C4435" validation="SHA1" validationKey="47CE6EFCCA8734456872BF5A8F6ED5C99366DDCFE1F75D6D58160F99200DE764F38901865D9D146105C956987A13FAF99852BCA9AFE7468513A42CC712519A8F" compatibilityMode="Framework45" />

    <!--Turn page tracing logging of in release-->
    <trace xdt:Transform="Insert" enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>

  </system.web>


  <appSettings>
    <add key="mallon.dfw.Https" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mallon.dfw.CustomErrors" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <!--http://tech.trailmax.info/2014/02/implemnting-https-everywhere-in-asp-net-mvc-application/-->
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>


    <!--<rewrite xdt:Transform="Remove" />
    <rewrite xdt:Transform="InsertIfMissing" >
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>-->

    <httpErrors xdt:Transform="Remove" />
    <httpErrors xdt:Transform="InsertIfMissing" errorMode="Custom" existingResponse="Replace" defaultResponseMode="Redirect" >
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" responseMode="File" path="404.html" />

      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" responseMode="File" path="500.html" />
    </httpErrors>

  </system.webServer>

</configuration>