<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup></configSections>
  <connectionStrings configSource="dfwConfigConnectionStrings.config" />
  <appSettings file="dfwConfigAppSettings.config">
    <!--<appSettings>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--http://stackoverflow.com/questions/22764922/custom-error-pages-with-asp-net-mvc-5-and-elmah-->
  <add key="elmah.mvc.disableHandler" value="false" /><add key="elmah.mvc.disableHandleErrorFilter" value="false" /><add key="elmah.mvc.requiresAuthentication" value="false" /><add key="elmah.mvc.IgnoreDefaultRoute" value="false" /><add key="elmah.mvc.allowedRoles" value="*" /><add key="elmah.mvc.allowedUsers" value="*" /><add key="elmah.mvc.route" value="elmah" /><add key="elmah.mvc.UserAuthCaseSensitive" value="true" /></appSettings>
  <system.web>
    <httpHandlers>
      <add path="*.ares" verb="*" type="Mallon.Core.Web.Util.ResourceWebHandler,CoreWeb" />
      <add path="*.ores" verb="*" type="Mallon.Core.Web.Util.ResourceWebHandler,CoreWeb" />
      <add path="*.fres" verb="*" type="Mallon.Core.Web.Util.ResourceWebHandler,CoreWeb" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <!--timeout is in minuites-->
      <forms loginUrl="~/Account/Index" timeout="240" slidingExpiration="true" />
    </authentication>
    <profile>
      <providers>
        <clear />
        <add name="LancelotMemProvider" type="Mallon.Core.Web.Logic.MembershipPvd, CoreWeb" applicationName="/" />
      </providers>
    </profile>
    <machineKey decryption="AES" decryptionKey="4A0DE3A7159443942566531E276BF195752D8BE64EB8BD3C" validation="SHA1" validationKey="BBB1077695B2FBAC484AD427234610C5203FA3CC01E93258C7F38CE13A8C246751763BD36DAC8112D37A8E91ED98DA6D0BD0956C433D6FED217050C75F247652" compatibilityMode="Framework45" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.3.0" newVersion="1.7.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
  <!--http://tech.trailmax.info/2014/02/implemnting-https-everywhere-in-asp-net-mvc-application/-->
  <httpProtocol>
    <customHeaders>
    </customHeaders>
  </httpProtocol>
  <handlers>
    <add name=".ores handler" path="*.ores" verb="*" resourceType="Unspecified" type="Mallon.Core.Web.Util.ResourceWebHandler,CoreWeb" />
    <add name=".fres handler" path="*.fres" verb="*" resourceType="Unspecified" type="Mallon.Core.Web.Util.ResourceWebHandler,CoreWeb" />
    <add name=".ares handler" path="*.ares" verb="*" resourceType="Unspecified" type="Mallon.Core.Web.Util.ResourceWebHandler,CoreWeb" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    <remove name="OPTIONSVerbHandler" />
    <remove name="TRACEVerbHandler" />
    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
  </handlers>
  <modules>
    <remove name="ErrorLog" />
    <remove name="ErrorMail" />
    <remove name="ErrorFilter" />
      
      
      
    <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" /><add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" /><add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" /></modules>
  <validation validateIntegratedModeConfiguration="false" />
  <security>
    <!-- 
      The default maximum upload file size is limited to 4MB by ASP.NET. Additionally, IIS 7+ limits the request size to 30MB.   
      This section increases the allowed request size for IIS 7 in the requestFiltering section
      -->
    <requestFiltering>
      <!-- The content length is in bytes (MAX SIZE=30MB) -->
      <requestLimits maxAllowedContentLength="31457280" />
    </requestFiltering>
  </security>
</system.webServer>
  <log4net>
    <appender name="DebugSQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="DebugSQL" />
    </logger>
  </log4net>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="Diamond Fire" />
  </elmah>
</configuration>
