@*NOTE: Please define the OnSuccess="setAddPerson(data)" method for pages that call this ajax page otherwise error will be thrown.*@
@using Club.Domain.Artifacts
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@using Club.Services.Utils
@model Mallon.Core.Web.Models.TypedModel<Person>
@{ 
  string ctrlId = System.Guid.NewGuid().ToString();
  string onSuccessCall = "setAjaxAddPerson(data)";
  
  bool selectGuardian = false;
  bool selectTeamMember = false;
  bool selectTeamSheetPerson = false;
  bool selectCommitteeMember = false;
  bool selectPersonMembership = false;
  bool selectQualificationMember = false;
  if (ViewBag.SelectGuardian != null)
  {
    selectGuardian = ViewBag.SelectGuardian;
  }
  if (ViewBag.SelectTeamSheetPerson != null)
  {
    selectTeamSheetPerson = ViewBag.SelectTeamSheetPerson;
  }
  if (ViewBag.SelectTeamMember != null)
  {
    selectTeamMember = ViewBag.SelectTeamMember;
  }
  if (ViewBag.SelectCommitteeMember != null)
  {
    selectCommitteeMember = ViewBag.SelectCommitteeMember;
  }
  if (ViewBag.SelectPersonMembership != null)
  {
    selectPersonMembership = ViewBag.SelectPersonMembership;
  }
  if (ViewBag.SelectQualificationMember != null)
  {
    selectQualificationMember = ViewBag.SelectQualificationMember;
  }
  
  if(selectTeamMember == true)
  {
    onSuccessCall = "selectTeamMember_NewPerson(data)";
  }
 }

@using (Ajax.BeginForm("AjaxAddPerson", "Person", new AjaxOptions { OnFailure = "handleAjaxError", OnBegin = "validateAddPersonForm", OnComplete = "hideProgress()", OnSuccess = onSuccessCall }, new { @id = "frmAddPerson" }))
{ 
  <script type="text/javascript">
    $(document).ready(function () {
      $(".dfw-clearContainerVals")
      .bind("click", function () {
        var container = $(this).data('containerdiv');
        clearChildCtrls(container);
      });

      $(".close-button").click(function () {
        // call 'close' method on nearest kendoWindow
        $(this).closest("[data-role=window]").data("kendoWindow").close();
      });

      $(".ajaxSave-button").click(function () {
        submitAjaxAddPerson();
      });
    });

    function validateAddPersonForm() {
      showProgress();
      var frmAjax = $("#frmAddPerson");
      return frmAjax.validate().form();
    }

    function submitAjaxAddPerson() {
      $("#frmAddPerson").submit();
    }

    @*function closeDialogCtrl() {
      var dialogName = getDialogName("@(ViewBag.PersonControlId)");
      if (dialogName != null && $("#" + dialogName).length > 0) {
        $("#" + dialogName).data("kendoWindow").close();
      }
    }*@
  </script>
  
  @Html.AntiForgeryToken()
  
  @*VERY IMPORTANT: Used for Dialogs and raising events on calling pages*@
  <input type="hidden" value="@ViewBag.PersonControlId" id="PersonControlId" />
  
  <div id="dAddPerson_@(ctrlId)">
    <div id="winContainer_@ctrlId"></div>
    @Html.Partial("~/Views/Person/_EditPanel.cshtml", Model)

    <button class="k-button close-button saveButtonRight">Close</button>
    <input type="submit" value="Save" class="k-button saveButtonRight" />
  </div>
}

