@{
    ViewBag.Title = "Contact";
}


<ul>
  <h4>Contact Details</h4>
  <li class="k-state-active">
    Address: 
    <ul>
      <li>1 Convent Rd, Cookstown BT80</li>
    </ul>
  </li>
  <li>
    <a href="https://www.facebook.com/Cookstown-Fr-Rocks-GFC-139628172745442/?fref=ts">Facebook</a>
  </li>
  <li>
    Address
  </li>
  
</ul>


  @*<div id="contacts-tabstrip">
  <ul>
      <li class="k-state-active">
          Phone
      </li>
      <li>
          Email
      </li>
      <li>
          Address
      </li>
  </ul>
  <div>
      <p>
          <span class="label">Main:</span>
          <span>????</span>
      </p>
      <p>
          <span class="label">After Hours:</span>
          <span>????</span>
      </p>
  </div>
  <div>
      <p>
          <span class="label">Support:</span>
          <span><a href="mailto:Support@example.com">Support@example.com</a></span>
      </p>
      <p>
          <span class="label">Marketing:</span>
          <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
      </p>
      <p>
          <span class="label">General:</span>
          <span><a href="mailto:General@example.com">General@example.com</a></span>
      </p>
  </div>
  <div>
      <p>
          One Microsoft Way<br />
          Redmond, WA 98052-6399
      </p>
  </div>
</div>
<script>
    $(function () {
        $("#contacts-tabstrip").kendoTabStrip();
    });
</script>*@