@using Club.Domain.Artifacts
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@model Mallon.Core.Web.Models.TypedModel<Club.Domain.Artifacts.Membership>
@{
  ViewBag.Title = "Create Membership Type";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(false)

  <div id="headerSubMenu">
    @(Html.Kendo().Button()
      .Name("frmSubmit")
      .Enable(false)
      .HtmlAttributes(new { type = "submit", @class = "saveButtonRight" })
      .ImageUrl(Url.Content("~/Images/16px/check.png"))
      .Content("Save")
      .Events(x => x.Click("clickHiddenSubmit")))
    <a class="saveButtonRight k-button" href="javascript:history.go(0)">Cancel</a>
  </div>


  @Html.Partial("_EditPanel", Model)
  <input id="hiddenSubmit" type="submit" value="Save" hidden="hidden" />
}
