@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@using Club.Domain.Models
@model TypedModel<ModelLottoTicketResult>
@{
  ViewBag.Title = "Check Lotto";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonS")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("Lotto Numbers")
      //.ImageUrl("~/Images/16px/view.png")
        .Expanded(true)
        .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
        .Content(@<div>
          @Html.Partial("~/Views/Lotto/LottoTicketDirectDebitWinnersCriteria.cshtml")
        </div>);
  })
  )
</div>
<br />
<div id="listContent">
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonL")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("Lotto Winners")
      //.ImageUrl("~/Images/16px/users_family.png")
      .Expanded(true)
      .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
      .Content(@<div id="dPersonResults">
        @Html.Partial("~/Views/Lotto/LottoTicketDirectDebitWinnersResults.cshtml")
      </div>
      );
  })
  )
</div>

