@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@using Club.Domain.Models
@{
  bool lottoResultEdit = false;
  if (ViewBag.LottoResultEdit != null)
  {
    lottoResultEdit = ViewBag.LottoResultEdit;
  }
}

<script type="text/javascript">
  $(document).ready(function () {
    $(".close-button").click(function () {
      // call 'close' method on nearest kendoWindow
      $(this).closest("[data-role=window]").data("kendoWindow").close();
    });
  });
</script>

<div id="dPremSearchResults">
  <input type="hidden" value="@ViewBag.ListCount" id="searchListCount" />
  <div style="text-align:right;">The top @Html.Label("0", new { @id = "searchLblListCount" }) results.</div>
  @(Html.Kendo().Grid<ModelLottoResult>()
  .Name("searchGridResults")
  .AutoBind(true)
  .ToolBar(tools =>
  {
    tools.Excel();
  })
  .Columns(columns =>
    {
      columns.Bound(p => p.Oid).Hidden();
      if (lottoResultEdit)
      {
        columns.Bound(p => p.Oid).Title("").ClientTemplate("<a  href='" + Url.Action("ViewLottoResult", "Lotto") + "?Oid=#= Oid #' class='k-button'>View Details</a>").Width(100).HtmlAttributes(new { style = "min-width:100px;max-width:100px;" });
      }
      columns.Bound(p => p.LottoDrawDate).Title("Draw Date").Format("{0:dd/MMM/yyyy}").Width(150);
      columns.Bound(p => p.WinnersToString).Title("Winners").Width("200px");
      columns.Bound(p => p.No1).Title("No 1").Width("80px");
      columns.Bound(p => p.No2).Title("No 2").Width("80px");
      columns.Bound(p => p.No3).Title("No 3").Width("80px");
      columns.Bound(p => p.No4).Title("No 4").Width("80px");
    })
  .Pageable(x => { x.PageSizes(new int[] { 30, 60, 200, 500}); })
      .Resizable(resize => resize.Columns(true))
  .Sortable()
  .Filterable()
  .Groupable()
  .Scrollable(s => s.Enabled(true).Height("auto"))
  .Selectable(x => x.Type(GridSelectionType.Cell))
  .DataSource(ds => ds
    .Ajax()
    .Events(e => e.Error("handleAjaxError").Change("searchOnChange"))
    .Model(model => model.Id(p => p.Oid))
    .Read(read => read.Action("LottoResult_GridRead", "Lotto").Data("getLottoResultSearchParams"))
    .Destroy(read => read.Action("LottoResult_Delete", "Lotto"))
        .PageSize(30)
    )
  )
</div>

<button class="k-button close-button saveButtonRight">Close</button>
@*<input type="button" value="Close" class="k-button" onclick="closeDialogCtrl('@ViewBag.PersonControlId')" />*@

