@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@model TypedModel<LottoTicketDirectDebitQry>
@{
  ViewBag.Title = "Search Direct Debits";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonS")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("Lotto Direct Debit Search Criteria")
        .ImageUrl(Url.Content("~/Images/24px/view.png"))
        .Expanded(true)
        .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
        .Content(@<div>
          @Html.Partial("~/Views/Lotto/SearchDirectDebitsCriteria.cshtml")
        </div>);
  })
  )
</div>
<br />
<div id="listContent">
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonL")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("Lotto Direct Debit  Results")
      .ImageUrl(Url.Content("~/Images/24px/scroll_view.png"))
      .Expanded(true)
      .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
      .Content(@<div id="dPersonResults">
        @Html.Partial("~/Views/Lotto/SearchDirectDebitsResults.cshtml")
      </div>
      );
  })
  )
</div>

