@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@model TypedModel<ClubMinutesQry>
@functions{ string ctrlId = System.Guid.NewGuid().ToString();}
<script type="text/javascript">
  function getClubMinutesMemberSearchParams() {
    return searchGetParams("searchCriteria@(ctrlId)");
  }
</script>

<div class="table-responsive">
  <table id="searchCriteria@(ctrlId)" style="width: 100%; margin-bottom: 5px;" class="tbl4Cols">
    <tr>
      @Html.TextBoxFor(Model.GetProperty(m => m.aq_ClubMinutesMinutesText), new { @class = "k-textbox", @style = "width:90%" })
    </tr>

    <tr>
      @Html.DateFor(Model.GetProperty(m => m.aq_ClubMinutesDateFrom), new { @style = "width:90%" })

      @Html.DateFor(Model.GetProperty(m => m.aq_ClubMinutesDateTo), new { @style = "width:90%" })
    </tr>
    <tr>
    @Html.DropDownListFor(Model.GetProperty(m => m.MaxRecords, new Mallon.Core.Web.Models.ModelCtrlComboBoxOptions((SelectList)ViewBag.MaxRecords, Model.Entity.MaxRecords, null)), new { @style = "width:90%" })
  </tr>
  <tr>
      <td></td>
    <td colspan="3">
      <div id="searchWrapper" class="float-right" style="display: inline-block">
        <input type="submit" value="Go" class="k-button" id="btnSearchGo" style="width: auto; padding-top: 2px; padding-bottom: 2px;" onclick="searchBeginSearch()" />
        <input type="button" value="Clear" class="k-button" id="btnSearchClear" onclick="searchClearSearch('searchCriteria@(ctrlId)')" style="width: auto; padding-top: 2px; padding-bottom: 2px;" />
      </div>
    </td>
    </tr>
  </table>
  </div>
