<?xml version="1.0"?>
<connectionStrings>
  <add name="mallon.Default" connectionString="Data Source=.\SQL2012;Initial Catalog=ClubFrRocks;User Id=sa;Password=Mallon2012;" providerName="System.Data.SqlClient" />
  <add name="elmah" connectionString="Data Source=.\SQL2012;Initial Catalog=ClubFrRocks;User Id=sa;Password=Mallon2012;" providerName="System.Data.SqlClient" />

  <!--<add name="mallon.Default" connectionString="Data Source=188.121.44.212;Integrated Security=False;User ID=bsheehy;Password=01Sheehy4u;Connect Timeout=15;" providerName="System.Data.SqlClient" />
  <add name="elmah" connectionString="Data Source=188.121.44.212;Integrated Security=False;User ID=bsheehy;Password=01Sheehy4u;Connect Timeout=15;" providerName="System.Data.SqlClient" />-->


  <!--<add name="mallon.Default" connectionString="Data Source=188.121.44.212;Initial Catalog=ClubFrRocks;User Id=bsheehy;Password=01Sheehy4u;" providerName="System.Data.SqlClient" />
  <add name="elmah" connectionString="Data Source=188.121.44.212;Initial Catalog=ClubFrRocks;User Id=bsheehy;Password=01Sheehy4u;" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>
